.pageroot{
    display: flex;
    flex-direction: column;
}

.checkbox{
    //position: absolute;
    //margin-left: 200px;
    color: darkred;
    background-color: darkturquoise;
    z-index: 10;
    width: 300px;
    opacity: 0;
}

.myspan{
    //background-color: dodgerblue;
    margin-left: -300px;
    z-index: 1;
    width: 100%;
}
//注释: 这一行被注释掉了！;
//a:我也不知道为什么，只有紧挨着双斜杠不空格地写注释，而且要有‘a：b；’这种属性声明格式才可以;
.checkbox:checked + span { 
    background-color: dodgerblue;
}

.checkbox:checked ~ .code { 
    background-color: dodgerblue;
    display: block; 
}

.code { 
    display: none; 
}